<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container">
		  	<% if user_signed_in? %>
		  	<ul class="nav navbar-nav navbar-left">
		  	
		  	<li>Te has identificado como <%= current_user.name %>,
			<%= link_to("Salir", destroy_user_session_path, method: 'DELETE') %></li>
			</ul>
			<% end %>
		    <ul class="nav navbar-nav navbar-right">

				
		    	<li><%= link_to("Inicio", root_path) %></li>
		    	
		  	
				
				<% if !user_signed_in? %>
		    	<li><%= link_to("Regístrate", new_user_registration_path) %></li>
		    	<% end %>
		    	<li><a href="#">Recetas Custom</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<section>
		<ul class="nav nav-pills nav-justified">
		  <li id="recetasPanel" class="active">
		  	<a href="#"><span class="glyphicon glyphicon-cog"></span> Recetas</a>
		  </li>
		  <li  id="envioPanel" class="">
		  	<a href="#" class="">
		  	<span class="glyphicon glyphicon-ok"></span> Datos de envío</a>
		  </li>
		</ul>
		<div class="page-header">
			<h1 class="title">Crea tu receta</h1>
		</div>
	</section>
	<section class="newRecipe">

		<div class="btn-group btn-group-justified col-md-4" data-toggle="buttons" >
		 <label class="btn btn-primary disabled">
		     INGREDIENTES
		  </label>
		  <label id="option2" class="btn btn-primary active">
		    <input type="radio" name="options"  checked> Principal
		  </label>
		  <label id="option3" class="btn btn-primary">
		    <input type="radio" name="options" > Guarnición
		  </label>
		    <label id="option4" class="btn btn-primary">
		    <input type="radio" name="options" > Salsas
		  </label>
		</div>

		<div id="ingredientType" class="btn-group btn-group-justified col-md-4" data-toggle="buttons">
		 <label class="btn btn-success active">
		    <input type="radio" name="options" checked> Option 1 (preselected)
		  </label>
		  <label class="btn btn-success">
		    <input type="radio" name="options"> Option 2
		  </label>
		  <label class="btn btn-success">
		    <input type="radio" name="options"> Option 3
		  </label>
		    <label class="btn btn-success">
		    <input type="radio" name="options"> Option 4
		  </label>
		</div>

		<div class="list-group col-md-3" id="ingredientKey">
		  <a href="#" class="list-group-item" data-toggle="tooltip" title="Esta carne viene directamente de Galicia y como todo lo que viene de allí, es buena">Solomillo</a>
		</div>

		<div class="col-md-9">
			<div class="dish">
				<%= image_tag("/assets/crearRecetas/plato.jpg", class: "dish") %>
				<div class="dishInn platoPrincipal" draggable="true"><h2>Ingrediente Principal</h2></div>
				<div class="dishInn guarnicion" draggable="true"><h2>Guarnición</h2></div>
				<div class="dishInn salsas" draggable="true"><h2>Salsa</h2></div>
			</div>
		</div>
	</section>
	
	<section class="newRecipe">
	<div> 
		<h4>Preparación <span class="label label-default">New</span></h4>
		</div>
		  	<div class="row">
		  		<div class="col-md-12 col-md-offset-1">
				    <div class="form-group col-md-5">
				      <label for="Principal">Ingrediente Principal</label>
				      <input type="text" id="Principal" class="form-control Principal" placeholder="Ingrediente principal" disabled>
				    </div>
				    
				    <div class="form-group col-md-5">
				      <label for="disabledSelect1">Método de preparación</label>
				      <select id="disabledSelect1" class="form-control">
				        <option>Cocción</option>
				        <option>Al vapor</option>
				        <option>Freir</option>
				        <option>Hornear</option>
				      </select>
				    </div>
				</div>

				<div class="col-md-12 col-md-offset-1">
				    <div class="form-group col-md-5">
				      <label for="Guarnición">Guarnición</label>
				      <input type="text" id="Guarnición" class="form-control Guarnición" placeholder="Guarnición" disabled>
				    </div>
				    
				    <div class="form-group col-md-5">
				      <label for="disabledSelect2">Método de preparación</label>
				      <select id="disabledSelect2" class="form-control">
				        <option>Cocción</option>
				        <option>Al vapor</option>
				        <option>Freir</option>
				        <option>Hornear</option>
				      </select>
				    </div>
				</div>

				<div class="col-md-12 col-md-offset-1">
				    <div class="form-group col-md-5">
				      <label for="Salsas">Salsa</label>
				      <input type="text" id="Salsas" class="form-control Salsa" placeholder="Salsa" disabled>
				    </div>
				    
				    <div class="form-group col-md-5">
				      <label for="disabledSelect3">Método de preparación</label>
				      <select id="disabledSelect3" class="form-control">
				        <option>Cocción</option>
				        <option>Al vapor</option>
				        <option>Freir</option>
				        <option>Hornear</option>
				      </select>
				    </div>
				</div>
		    </div>
	</section>
	<section class="newRecipe">
		<article class="dataSection">
			<div class="page-header"> 
				<h4>Datos de la receta <span class="label label-default">New</span></h4>
			</div>
			  	<div class="row">
			  		<div class="col-md-12 col-md-offset-1">
					    <div class="form-group col-md-5">
					      <label for="recipeTitle">Nombre</label>
					      <input type="text" id="recipeTitle" class="form-control" placeholder="Nombre de la receta">
					    </div>
					    
					    <div class="form-group col-md-5">
					      <label for="recipeType">Tipo</label>
					      <select id="recipeType" class="form-control">
					        <option>Carnivoros</option>
					        <option>Vegetarianos</option>
					        <option>Postres</option>
					      </select>
					    </div>
					</div>

				    <div class="form-group col-md-10 col-md-offset-1">
				      <label for="recipeDescription">Descripción</label>
				      <textarea type="text" id="recipeDescription" class="form-control" placeholder="Descripción..." rows="5"></textarea>
				    </div>
			    </div>	   
		</article>

		<article class="col-md-12">
			<ul class="pager">
			  <li>
			  	<button id="saveButton" type="button" class="btn btn-primary btn-save">Guardar y crear otra receta</button></li>
			  <li>
			  <button id="saveAndSendButton" type="button" class="btn btn-primary btn-save">Guardar y realizar pedido</button>
			  <button id="noSaveAndSendButton" type="button" class="btn btn-primary btn-save">Pedir otras recetas</button>
			  </li>
			</ul>
		</article>
	</section>

	<section class="newSend">
		<article class="dataSection">
			<div class="page-header"> 
				<h4>Datos del pedido <span class="label label-default">New</span></h4>
			</div>
			  	<div class="row col-md-offset-4">					    
					    <div class="form-group col-md-5">
					      <label for="recipeList">Recetas</label>
					      <select id="recipeList" class="form-control">
					        <option class="showList">Carnivoros</option>
					      </select>
					    </div>
				</div>
				<div class="col-md-5 col-md-offset-5">
				<button id="addRecipeButton" type="button" class="btn btn-primary btn-save">Añadir receta</button>		
				</div>
				<div class="col-md-12">
					<div class="col-md-5 col-md-offset-3">
						<table class="table">
		 					<thead>
					        <tr>
					          <th>#</th>
					          <th>Receta</th>
					          <th>Precio</th>
					        </tr>
					      </thead>
					      <tbody>
					       
					      </tbody>
					      <tfoot>
					      	<tr class="info">
					      		<td>Total</td>
					      		<td> </td>
					      		<td id="resultPrice">0 €</td>
					      	</tr>
					      </tfoot>
						</table>
					</div>
				</div>
			    </div>	   
		</article>


		<article class="dataSection">
			<div class="page-header"> 
				<h4>Datos de envío <span class="label label-default">New</span></h4>
			</div>
			  	<div class="row">
			  		<div class="col-md-12 col-md-offset-1">
					    <div class="form-group col-md-5">
					      <label for="clientName">Nombre</label>
					      <input type="text" id="clientName" class="form-control" placeholder="Tú Nombre">
					    </div>
					    
					    <div class="form-group col-md-5">
					      <label for="clientDir">Dirección</label>
					      <input type="text" id="clientDir" class="form-control" placeholder="Tú Dirección">
					    </div>

					    <div class="form-group col-md-5">
					      <label for="clientTel">Teléfono</label>
					      <input type="text" id="clientTel" class="form-control" placeholder="Tú Teléfono">
					    </div>
					</div>
			    </div>	   
			</article>	
			<div class="col-md-5 col-md-offset-5">
			<button id="anotherRecipe" type="button" class="btn btn-primary btn-save">Crear otra receta</button>
			<button id="makeOrderButton" type="button" class="btn btn-primary btn-save">Realizar pedido</button>
			</div>	
	</section>

<footer id="contactId" class="contact" role="contentinfo">
	<p> Copyright <a href="https://github.com/ivanrod/proyectoIndustria"> Custom Cook </a>  &#169;</p>
</footer>


</body>
</html>